<div><%= link_to "Publish a new menu", new_week_path %> </div>
<div><%= link_to "Check orders for past week", week_orders_path(@week) %></div>
<div><%= link_to "See past orders", weeks_path %> </div>
<div><%= link_to "Check customer balances", customers_path %> </div>