<h1>Administrative Page</h1>
<h2><%= link_to "Publish a new week's menu", new_week_path %> </h2>
<h2><%= link_to "See orders for this week", week_orders_path(@week) %></h2>
<h2><%= link_to "See orders for past weeks", weeks_path %> </h2>
<h2><%= link_to "Check customer balances", customers_path %> </h2>