<h2>Welcome to Franny's</h2>
<div><%= link_to "Sign up", new_customer_path %> or <%= link_to "Signin", signin_path %> </div>
<div><%= link_to "Continue", new_order_path %> without signing in (you will need to enter your address and contact info) </div>